body {
  /* background-image: url("https://images.unsplash.com/photo-1599992836360-f88e279f8350?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGRhcmslMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"); */
  background-color: rgb(32, 36, 33);
  color: #eef0ea;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  text-align: center;
  font-size: 35px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 0 40px 40px 40px;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  overflow: auto;
  padding-left: 0;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* width: 50%; */
  padding-top: 70px;
}
 .navbar-fixed .logo {
   float: left;
 }

.navbar-fixed {
  background-color: darkolivegreen;
  color: whitesmoke;
  box-shadow: 1px 2px 1px;
  width: 100%;
  overflow: auto;
  position: fixed;
  text-align: left;
  margin: 0;
}

.navbar-fixed .types {
  color: whitesmoke;
}

.navbar-fixed ul a:hover,
.navbar-fixed ul a:focus {
  background-color: gray;
}


@media screen and (max-width: 500px) {
  .navbar-fixed ul {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }

  .logo {
    padding-top: 110px;
  }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
    justify-content: space-evenly;
}

.column {
    /* flex: 20%; */
    padding: 5px;
}

figure {
  border: none;
  display: flex;
  flex-flow: column;
  padding: 4px; 
  max-width: 150px;
  margin: auto;
}

figcaption {
  background-color: #222;
  color: #fff;
  font-family: Garamond, serif;
  padding: 3px;
  text-align: left;
}

footer {
  display: block;
  padding-top: 40px;
}
